.logo {
  display: block;
  margin: 80px auto 108px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 24.72rem;

  &__heading {
    padding-bottom: 34px;
  }

  &__paragraph {
    padding-bottom: 32px;
    width: 540px;
  }

  &__buttons {
    display: flex;
    justify-content: center;

    .btn:first-child {
      margin-right: .89rem;
    }
  }
}

.image-hero {
  position: relative;

  &-left {
    position: absolute;
    top: -47px;
    left: -32px;
  }

  &-right {
    position: absolute;
    top: 8px;
    right: -32px;
  }
}