.btn {
  height: 3.22rem;
  width: 10.72rem;
  border: 0;
  border-radius: 29px;
  letter-spacing: -1px;
  font-weight: 900;
  font-size: .89rem;
  line-height: 1.44rem;
  color: #fff;
  outline: none;

  &-primary {
    background: $color-primary;

    &:hover {
      cursor: pointer;
      background: #71C0D4;
    }

    span {
      color: $color-primary-variant;
    }
  }

  &-secondary {
    background: $color-secondary;

    &:hover {
      cursor: pointer;
      background: #B18BDD;
    }

    span {
      color: $color-secondary-variant;
    }
  }
}