@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

body {
  font-family: 'Red Hat Display',
    sans-serif;
}

h1 {
  font-weight: 900;
  font-size: $heading-1-font-size;
  line-height: $heading-1-font-size;
  color: $dark-color;
}

h2 {
  font-weight: 900;
  font-size: $heading-2-font-size;
  line-height: 2.44rem;
  color: $dark-color;
}

p {
  font-weight: 500;
  font-size: $paragraph-font-size;
  line-height: $default-line-height;
  color: $grey-color;
}

.overline {
  font-weight: 900;
  font-size: $small-font-size;
  line-height: $default-line-height;
  letter-spacing: .22rem;
  text-transform: uppercase;
  color: $color-primary;
}